.navMenu{
    display: flex;
    background-color: #FF9100;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}
.search{
    width: 40vh;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
}  
.links a{
    text-decoration: none;
    margin: 0 1rem;
    font-size: 20px;
    color: #FFFBE6;
    transition: 0.5s;
} 
.links a:hover{
    font-size: 25px;
    color: blue;
    transition: 0.5s;
}
.divMenuOffCanvas{
    display: none;
}
.normalNavMenu{
    display: inline;
}
@media screen and (max-width:435px){
    .mainTitle{
        font-size: 20px;
    }
    .navMenu{
        padding: 1rem 1rem;
    }
    .RecipeLink{
        font-size: 13px !important;
    }
}
@media screen and (max-width:920px){
    .searchBar{
        display: none;
    }
}
@media screen and (max-width:1200px){
    .divMenuOffCanvas{
        display: inline !important;
    }
    .normalNavMenu{
        display: none !important;
    }
}