.SecondDiv{
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}
.SecondDivImg{
    border-radius: 2rem;
}
.ThirdDiv{
    display: flex;
    justify-content: space-evenly;
    padding: 0 2rem;
}
.ThirdDiv img{
    width: 80%;
    height: 40vh;
    object-fit: cover;
    border-radius: 1rem;
}
.linkBtn{
    background-color: #FF9100;
    border: none;
}
.link{
    text-decoration: none;
    color: white;
}